# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
**/.DS_Store

cover_letter/cover_letter_builds
cover_letter/prompts
cover_letter/response
cover_letter/job_description.md
cover_letter/paragraph_reference.md

resume/resume_builds
resume/preset.json
resume/resume.json

ignores/
# Local output paths, specific to this machine.
settings.json

__pycache__/
